# Sensitive directories (ignored entirely)
certs/
keys/
.well-known/

# Ignore all env files
.env
.env.*
*.env

# BUT allow env examples / templates
!*.env.example
!env_example
!*/env_example
!*/**/*.env.example

# Logs
*.log

# OS / IDE junk
.DS_Store
.idea/
.vscode/
# OS junk
.DS_Store# IDE configs
.idea/
.vscode/
